id ICON "app-icon.ico"   //添加图标
#include <winver.h>
VS_VERSION_INFO VERSIONINFO
    FILEVERSION 2,3,0,0
    PRODUCTVERSION 2,3,0,0
    FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
    FILEFLAGS VS_FF_DEBUG
#else
    FILEFLAGS 0x0L
#endif
    FILEOS VOS__WINDOWS32
    FILETYPE VFT_DLL
    FILESUBTYPE 0x0L
    BEGIN
        BLOCK "StringFileInfo"
        BEGIN
            BLOCK "080404b0"  //支持中文
            BEGIN
                VALUE "CompanyName", "Floating Ocean\0"
                VALUE "FileDescription", "Tetris Project\0"
                VALUE "FileVersion", "2.3.0\0"
                VALUE "ProductVersion", "2.3.0\0"
                VALUE "LegalCopyright", "Copyright (c) 2022-2023 Floating Ocean. All Rights Reserved.\0"
                VALUE "LegalTrademarks", "Floating Ocean\0"
                VALUE "OriginalFilename", "Tetris\0"
                VALUE "ProductName", "Tetris Project\0"
                VALUE "InternalName", "Tetris.exe\0"
            END
        END

        BLOCK "VarFileInfo"
        BEGIN
            VALUE "Translation", 0x804, 1200  //语言-简体中文
        END
    END